$Psoftred: hsl(0, 94%, 66%);
$Psoftblue: hsl(231, 69%, 60%);
$Ngrayish: hsl(229, 8%, 60%);
$Nverydark:hsl(229, 31%, 21%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Rubik', sans-serif;
    font-size: 18px;
}

body {
  width: 100%;
  height: auto;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.hiders{
  display: none;
}
.buttons{
  font-size: 15px;
  background: white;
  width: 45%;
  height: 6vh;
  border-radius: .5rem;
  box-shadow: 0.5px 0.5px 1.5px .5px darkgray;
}

header{
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin-bottom: 3rem;
    h1{
      margin: 3rem 1rem .5rem 1rem;
      font-size: 27px;
        botton{
            
        }
    }
}

.imaghead{
  width: 100%;
  padding-top: 1rem;
}

.parraf{
  padding: 2.5rem;
  padding-top: .5rem;
  font-size: 15px;
  font: 'Rubik', sans-serif;;
}